body{
    background-image: url("../img/homeback.png");
    /* Full height */
    height: 100vh; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#jumb{
    margin: auto;
    width: 80%;

}

.centerBox{
        margin-top:7em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center; 
}

.center{
    text-align:center;
}
.flexin{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.g-signin2 > div{
  margin: 0 auto;
}
