body{
    background-image: url("https://i.pinimg.com/originals/e3/5b/1f/e35b1fda28b11abff0395ae3d3b1e359.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

form{
    width: 75%;
    margin: auto;
    margin-top: 7em;
}

.subButton{
    margin-left: 1em;
}

.results{
    margin: auto;
}

footer {
    position : absolute;
    bottom : 0;
}