<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Movies In Theaters</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" 
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/searchPage.css" />


    <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous" defer></script>
    <script src="/scripts/currentMovies.js" defer></script>
</head>
<body>
    <header>
            <nav>
                    <ul>
                        <a class="navLink" href="/mylist"><li>My List</li></a>
                        <a class="navLink" href="/userlist"><li>Find Members</li></a>
                        <a class="navLink" href="/search"><li>Search Media</li></a>
                        <a class="navLink" href="/moviesintheaters"><li>Movies Playing</li></a>
                        <a class="navLink" href="/" class="logout"><li>Log Out</li></a>
                    </ul>
                </nav>
    </header>
    <section class="mediaList">
        </section>
</body>
</html>