<!DOCTYPE html>
<html lang="en">
    <div id="successBanner" class="alert alert-success" style="display: none"></div>
    <div id="dangerBanner" class="alert alert-danger" style="display: none"></div>
    
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Employee Directory - Edit Profile">
    <meta name="author" content="Raj Mahal">

    <!-- favicon -->

    <link rel="apple-touch-icon" sizes="57x57" href="images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicons/favicon-16x16.png">
    <link rel="manifest" href="images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Additional Metadata -->

    <title>Edit Profile</title>

    <!-- Bootstrap core CSS -->

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
    <link href="../styles/editProfile.css" rel="stylesheet">
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="../back/"><img alt="logo" src="../img/logo.jpg"></a>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">

            <ul class="navbar-nav mr-auto">
                <form class="form-inline custom-search">
                    <i class="fas fa-search" id="searchButton"></i>
                    <input class="form-control mr-sm-2 search-box" type="search" placeholder="Type in to Search..."
                    id="searchBar" aria-label="Search">
                </form>
            </ul>

            <ul class="navbar-nav">  
                <!-- <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-bell alet-icon"></i> Notifications</a>
              </li> -->
              <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <img class="avtar googleImg" src=""><span id="fullname"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="../editProfile">View my settings</a>
                                <a class="dropdown-item" onclick="logout()">Logout</a>
                            </div>
                        </li>
              
                </ul>
                </div>  
    </nav>

    <!-- Heading -->

    <section class="search_bar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>My Settings</h3>
                </div>
            </div>
        </div>
    </section>

    <!-- Edit Profile photo -->

    <form class="form-horizontal">
        <div class="form-group row">
            <div class="col-md-3">&nbsp;</div>
            <div id="drop-area">
                <div class="col-md-7">
                    <input type="file" id="fileElem" accept="image/*" onchange="handleFiles(this.files)">
                    <div id="profile-pic">
                        <img src="../img/blankPicture.png" width="200" height="200">
                    </div>
                </div>
            </div>
            <div class="col-md-2">&nbsp;</div>
        </div>

        <!-- Edit Profile Information -->

        <div class="form-group row">
            <div class="col-md-1">&nbsp;</div>
            <label for="inputOverviewText" class="col-md-2 col-form-label">Overview Text</label>
            <textarea class="form-control col-md-7" id="inputOverviewText" rows="6"></textarea>
        </div>
        <div class="form-group row">
            <div class="col-sm-1">&nbsp;</div>
            <label for="inputMobilePhone" class="col-md-2 col-form-label">Mobile Phone</label>
            <input class="form-control col-md-2" type="text" id="inputMobilePhone" placeholder="xxx-xxx-xxxx">
        </div>
        <div class="form-group row">
            <div class="col-md-1">&nbsp;</div>
            <label for="inputTags" class="col-md-2 col-form-label">Tags</label>
            <textarea class="form-control col-md-7" id="inputTags" rows="4"></textarea>
        </div>
         <div>
             <div class="form-row">
                <div class="col-md-1">&nbsp;</div>
                <div class="form-group col-md-5">
                    <label for="inputContact">Contact Name</label>
                </div>
                <div class="form-group col-md-5">
                    <label for="inputContactValue">Contact Value</label>
                </div>
            </div>
         </div>
        <div id="contactRows" data-iterations="0">
            <div id="contactData-0" class="form-row">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="form-group col-md-5">
                        <label for="inputContact">Contact Name</label>
                        <input type="text" class="form-control" id="inputContact" placeholder="name">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="inputContactValue">Contact Value</label>
                        <input type="text" class="form-control" id="inputContactValue" placeholder="value">
                    </div>
            </div>
        </div>
        <div class="form-group" style="text-align: center;">
            <button type="button" onclick="addRow()" class="btn btn-primary" form="form-profile">+</button>
        </div>
        <br>
        <div class="form-group" style="text-align: center;">
            <button type="button" onclick="prepData()" class="btn btn-primary" form="form-profile">Save Profile</button>
        <div>
        &nbsp; &nbsp;
    </form>

    <!-- Footer Content -->

    <footer class="footer">
        <div class="container-fluid">
            <div class="footer-copyright text-center py-3">© 2018 Copyright: ACME.com</div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

        <script src="../scripts/editProfile.js"></script>

</body>
<script>
    function signout() {
      if(localStorage.getItem("type") === "demo"){
        localStorage.clear();
        window.location.assign("../")
      }else{
        onLoad();
        if(gapi.auth2){
        console.log("we now gapi")
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log('User signed out.');
          localStorage.clear();
          window.location.assign("../");

        });
        }
        window.location.assign("../");
      }
    }

    function onLoad() {
      gapi.load('auth2', function() {
        gapi.auth2.init();
      });
      return true
    }
  </script>
<script>
function logout() {
//localStorage.clear();
signout()
//window.location.assign("/");
}
</script>
</html>
