<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous" defer></script>
</head>
<body>
    <header>
        <h1>PROJECT HR</h1>
     
    </header>
    <main>
        <section class='logIn'>
            <h3><a href="/login">LOG IN</a></h3>
        </section>
        <section class='signUp'>
            <h3><a href="/signup">SIGN UP</a></h3>
        </section>
    </main>
</body>
</html>



