<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Project_HR</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-signin-client_id" content="792828454552-med48hcu42djec9q4c376du88id6hc72.apps.googleusercontent.com">
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <!-- My CSS -->
        <link rel="stylesheet" type="text/css" media="screen" href="styles/search.css" />
        <!-- JQuery CDN -->
        <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
        <!-- Popper CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous" defer></script>
        <!-- BootStrap CDN -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <!-- <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script> -->
        <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>   
        <!-- My JS-->
        <script src="scripts/app.js" defer></script>
    </head>
    <!-- <body>
        <header>
                 <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="/">Project_HR</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse navbar-text" id="navbarText">
                          <ul class="navbar-nav my-2 my-sm-0">
                            <li class="nav-item my-2 my-sm-0">
                              <a id="profileLink" class="nav-link" href="/">Profile</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="search">Search</a>
                            </li>
                          </ul>
                          <ul class="navbar-nav ml-auto">
                              <li class="nav-item">
                                  <a id="welcome" class="nav-link" ></a>
                              </li>
                              <li>
                                  <a id="logout" class="nav-link" onclick="logout()">Logout</a>
                              </li>
                          </ul>
                        </div>
                      </nav> 
        </header> -->

            <body>

                <!-- Navigation -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                   
              <a class="navbar-brand" href="#"><img alt="logo" src="img/logo.jpg"></a>
                     
             <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                 
                 
                  <ul class="navbar-nav">  
                    <!-- <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-bell alet-icon"></i> Notifications</a>
                  </li> -->
                  <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <img class="avtar googleImg" src=""><span id="fullname"></span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">View my settings</a>
                                    <a class="dropdown-item" onclick="logout()">Logout</a>
                                </div>
                            </li>
                  
                    </ul>
                    </div>  
                      
                
            </nav>
            
                <!-- Page Content -->
                  
            <section class="search_bar">
               <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                        <form class="search-form">
                           <div class="input-group">
                          <input type="text" id="myInput" class="form-control" placeholder="Search for an employee like Raj Mahal..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary" id="search" type="button"><i class="fas fa-search"></i></button>
                          </div>
                        </div>
                        </form>
                      </div>
                    </div>
                  </div>   
<div style="text-align:center;">
		<br />
                <a href="tagSearch">Tag Search</a>
</div>
                </section>    
                <div class="container result-listing">
                  <div class="row">
                    <div class="col-md-12">
                        <div class="result_count">
                          <!-- <p>About 19,10,00,000 results (0.70 seconds)</p> -->
                        </div>


                        <ul class="list-unstyled">


                        </ul>
                    </div>
                  </div>
             </div>  
                  
                           <!-- <ul class="pagination pagination-md justify-content-center">
              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul> -->
                 
                  
                  <footer class="footer">
                      <div class="container-fluid">
                         <div class="row">
                             <div class="col-lg-4 text-left copyright">
                             <ul class="list-inline">
              <li class="list-inline-item">© 2018. ACME</li>
            </ul>
                             
                             </div>
                             <!-- <div class="col-lg-4 text-center socialmedia">
                                <ul class="list-inline">
              <li class="list-inline-item"><a href="#"><img src="img/Facebook.svg"></a></li>
              <li class="list-inline-item"><a href="#"><img src="img/Instagram.svg"></a></li>
              <li class="list-inline-item"><a href="#"><img src="img/Twitter.svg"></a></li>
            </ul>
                             </div> -->
                             <div class="col-lg-4 text-right otherlinks">
                             <ul class="list-inline">
              <!-- <li class="list-inline-item">Privacy Policy</li>
              <li class="list-inline-item">Terms of Use</li> -->
            </ul>
                             </div>
                          </div>
                      </div>
        </footer>
            <script>
                function signout() {
		  onLoad();
                  if(gapi.auth2){
                    console.log("we now gapi")
                    var auth2 = gapi.auth2.getAuthInstance();
                    auth2.signOut().then(function () {
                      console.log('User signed out.');
                      localStorage.clear();
                      window.location.assign("../back/");

                    });
                    window.location.assign("../back/");
                  }
                }

                function onLoad() {
                  gapi.load('auth2', function() {
                    gapi.auth2.init();
                  });
                }
              </script>
        <script>
          function logout() {
            //localStorage.clear();
            signout()
            //window.location.assign("/");
          }
          </script>
    <script>
      console.log("searching with parameters")
      let searchParam =""
      searchParam = "<%= search %>"
      console.log(searchParam)
      if(searchParam !== ""){
        $.ajax({
          method: "GET",
          url: 'https://rmahal.com/projects/empdir/hr/search/employees/'+searchParam,
          success: function success(succ) {
            //console.log(succ)
            $.ajax({
              method: "POST",
              url: 'https://rmahal.com/projects/empdir/back/getImages',
              data: {
                employees: succ
              }
              ,
              success: function successTwo(succTwo) {
                console.log('success')
                console.log(succ.length)
                console.log('second success')
                console.log(succTwo.userInfo[0])
                if(succ.length > 0 && succTwo.userInfo.length > 0){
                  console.log("if was hit")
                $(".list-unstyled").empty()
                for(var i=0; i<succ.length;i++){
                  $(".list-unstyled").append('<li class="media"><a href="userprofile/'+succ[i]._id+'"><img class="mr-3 rounded-circle" src="'+succTwo.userInfo[i][1]+'" alt="Generic placeholder image"></a><div class="media-body"><a href="userprofile/'+succ[i]._id+'" class="mt-0 mb-1 name"><span class="first_name">'+succ[i].FirstName+'</span><span class="last_name"> '+succ[i].LastName+'</span></a><div class="more-info"><span class="desigation"><a href="userprofile/'+succ[i]._id+'">'+succ[i].JobTitle+'</a></span>,<span class="company_name"><a href="userprofile/'+succ[i]._id+'">'+succ[i].Org+'</a></span></div><div class="contact-info"><span class="country"><a href="userprofile/'+succ[i]._id+'"><span><img src="img/united-states.svg"></span>'+succ[i].CountryCode+'</a></span><span class="email"><a href="userprofile/'+succ[i]._id+'"><span><img src="img/email.svg"></span>'+succ[i].Email+'</a></span><span class="phone"><a href="userprofile/'+succ[i]._id+'"><span><img src="img/phone.svg"></span>+1 '+succ[i].Phone+'</a></span></div></div><a href="userprofile/'+succ[i]._id+'" class="visit_profile_button"><img src="img/next.svg"></a></li>')

                }
                }else{
                  $(".list-unstyled").empty()
                  $(".list-unstyled").append("<li><h4><p>No results found please try again</p></h4></li>")
                }
                
              },
                  error: function errorTwo(errorTwo) {
                    console.log(errorTwo)
                  }
            })
          },
          error: function error(err){
            console.log(err)
          }
        }) 
      }
    </script>

    </body>
</html>