<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Users List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" 
    rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/userList.css" />
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous" defer></script>
    <script src="/scripts/userList.js" defer></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <a class="navLink" href="/mylist"><li>My List</li></a>
                <a class="navLink" href="/userlist"><li>Find Members</li></a>
                <a class="navLink" href="/search"><li>Search Media</li></a>
                <a class="navLink" href="/moviesintheaters"><li>Movies Playing</li></a>
                <a class="navLink" href="/"><li>Log Out</li></a>
            </ul>
        </nav>
        <h1>Users:</h1>
    </header>
    <div class="userList">
    </div>
</body>
</html>